[General]
jwt_secret = "changeme"
app_secret = "changemetoo"

[Database]
# SqlAlchemy URI zur internen Datenbank
connection_uri = sqlite:///db.sqlite3

[Wowicache]
# SqlAlchemy URI zur Wowicache-Datenbank mit Wohnungsinformationen
connection_uri = sqlite:///wowi_cache.db

[Geolocation]
# Geolocation-API für die bestimmung der Koordinationen der Immobilien
api_key = xxx

[OpenWowi]
host =
user =
pass =
key =

[Handling]
# yes/no Handling: Write 1 or 2 in count-Field (quantity) or use sub components "yes" and "no" (sub_components)
bool_handling=sub_components
bool_sub_component_yes_id=
bool_sub_component_no_id=
component_status=2

[MicrosoftAuth]
tenant_id =
client_id =
client_secret =

[EntraSync]
# group or all
mode=group
group_id=00000000-0000-0000-0000-000000000000
# Role must exist
default_role=User

# Example: Special Admin role
role_override_group_id=<group-id-for-special-role>
role_override_role=Admin

[Celery]
broker_url = redis://localhost:6379/0
result_backend = redis://localhost:6379/1